<a href="https://colab.research.google.com/github/saikumarreddykorsapati-source/Python_Scripts/blob/main/Top_100_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ascii Table :** [Click here to redirect](https://prepinsta.com/ascii-table/)

1) Positive or Negative number:

Using Ternary Operator

This operator is also known as conditional expression are operators that evaluate something based on a condition being true or false. It simply allows testing a condition in a single line.

Syntax :

```
[on_true] if [expression] else [on_false] 
```

In [ ]:
n = 0
# Use of ternary operator
print("Positive" if n >= 0 else "Negative")

Positive

2) Even or Odd number:

In [ ]:
n = 20
print("Even" if n%2==0 else "Odd")

Even

3) Sum of First N Natural numbers:

In [ ]:
n=5
print(int(n*(n+1)/2))

15

4) Sum of N natural numbers:

In [ ]:
def recurSum(n):
  if n == 0:
    return n
  else:
    return n + recurSum(n-1)

num = 6
recurSum(num)

21

5) Sum of numbers in a given range:

In [ ]:
def recurSum(sum, n1, n2):
  if n1>n2:
    return sum
  return n1 + recurSum(sum, n1+1, n2)

num1, num2, sum = 3, 6, 0
recurSum(sum, num1, num2)

18

6) Greatest of two numbers:

In [ ]:
n1, n2 = 50, 60
print(n1 if n1>=n2 else n2)

60

In [ ]:
n1, n2 = 50, 60
print(max(n1,n2))

60

7) Greatest of the Three numbers:

In [ ]:
n1, n2, n3 = 50, 30, 49
print(max(n1,n2,n3))

50

In [ ]:
num1, num2, num3 = 10 , 30 , 20
max = num1 if num1>num2 else num2
max = num3 if num3>max else max
print(max)

30

In [ ]:
num1, num2, num3 = 10 , 30 , 20
max = 0
if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

30

8) Factorial of a number:

In [ ]:
import math as m

print(m.factorial(5))

120

In [ ]:
def fact(n):
  return 1 if (n==1 or n==0) else n*(fact(n-1))

fact(5)

120

In [ ]:
def facto(n):
  if n <0:
    return n
  elif n == 0 or n == 1:
    return 1
  else:
    fact = 1
    while (n>1):
      fact = fact * n
      n -= 1
    return fact
    
facto(5)

120

9) Simple Interest:

In [5]:
def cal_SI(p,t,r):
  print("Principal Amount is : {} \n Time is : {} \t Rate is : {} \n\nSimple Interest is : {}".format(p,t,r,(p*t*r)/100) )

cal_SI(8,6,8)

Principal Amount is : 8
 Time is : 6 	 Rate is : 8

Simple Interest is : 3.84

10) Compound Interest:


```
A = P(1 + R/100) t 
Compound Interest = A - P 
Where, 
A is amount 
P is the principal amount 
R is the rate and 
T is the time span
```

In [15]:
def cal_CI(p,t,r):
    
    a = p*( pow( ( 1 + r / 100 ) , t ))
    # or a=p*(1+(r/100))**t 

    ci = a - p 
    print("Principal Amount is : {} \n Time is : {} \t Rate is : {} \n\nCompound Interest is : {}".format(p,t,r,ci) )
cal_CI(1200,2,5.4)

Principal Amount is : 1200
 Time is : 2 	 Rate is : 5.4

Compound Interest is : 133.0992000000001

11) Armstrong Number:



```
Given a number x, determine whether the given number is Armstrong number or not. A positive integer of n digits is called an Armstrong number of order n (order is number of digits) if.

abcd... = pow(a,n) + pow(b,n) + pow(c,n) + pow(d,n) + .... 
Example:

Input : 153
Output : Yes
153 is an Armstrong number.
1*1*1 + 5*5*5 + 3*3*3 = 153

Input : 120
Output : No
120 is not a Armstrong number.
1*1*1 + 2*2*2 + 0*0*0 = 9

Input : 1253
Output : No
1253 is not a Armstrong Number
1*1*1*1 + 2*2*2*2 + 5*5*5*5 + 3*3*3*3 = 723

Input : 1634
Output : Yes
1*1*1*1 + 6*6*6*6 + 3*3*3*3 + 4*4*4*4 = 1634
```

In [22]:
def power(x,y):
  if y == 0:
    return 1
  elif y%2 == 0:
    return power(x,y//2)*power(x,y//2)
  else:
    return x * power(x,y//2)*power(x,y//2)

def order(x):
  n  = 0
  while (x!=0):
    n+=1
    x//=10
  return n

def isArmstrong(x):
  n = order(x)
  temp = x
  sum = 0
  while temp!=0 :
    r = temp%10
    sum = sum + power(r,n)
    temp//=10
  return (sum == x)

isArmstrong(1634)

True

12) Area of a circle 

Area = pi * (r**2)
where r is radius of circle

In [23]:
def findArea(r):
    PI = 3.142
    return PI * (r*r);
  
# Driver method
print("Area is %.6f" % findArea(5));

Area is 78.550000