<a href="https://colab.research.google.com/github/saikumarreddykorsapati-source/Python_Scripts/blob/main/Top_100_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ascii Table :** [Click here to redirect](https://prepinsta.com/ascii-table/)

1) Positive or Negative number:

Using Ternary Operator

This operator is also known as conditional expression are operators that evaluate something based on a condition being true or false. It simply allows testing a condition in a single line.

Syntax :

```
[on_true] if [expression] else [on_false] 
```

In [1]:
n = 0
# Use of ternary operator
print("Positive" if n >= 0 else "Negative")

Positive

2) Even or Odd number:

In [2]:
n = 20
print("Even" if n%2==0 else "Odd")

Even

3) Sum of First N Natural numbers:

In [3]:
n=5
print(int(n*(n+1)/2))

15

4) Sum of N natural numbers:

In [4]:
def recurSum(n):
  if n == 0:
    return n
  else:
    return n + recurSum(n-1)

num = 6
recurSum(num)

21

5) Sum of numbers in a given range:

In [5]:
def recurSum(sum, n1, n2):
  if n1>n2:
    return sum
  return n1 + recurSum(sum, n1+1, n2)

num1, num2, sum = 3, 6, 0
recurSum(sum, num1, num2)

18

6) Greatest of two numbers:

In [6]:
n1, n2 = 50, 60
print(n1 if n1>=n2 else n2)

60

In [7]:
n1, n2 = 50, 60
print(max(n1,n2))

60

7) Greatest of the Three numbers:

In [8]:
n1, n2, n3 = 50, 30, 49
print(max(n1,n2,n3))

50

In [9]:
num1, num2, num3 = 10 , 30 , 20
max = num1 if num1>num2 else num2
max = num3 if num3>max else max
print(max)

30

In [10]:
num1, num2, num3 = 10 , 30 , 20
max = 0
if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

30

8) Factorial of a number:

In [11]:
import math as m

print(m.factorial(5))

120

In [12]:
def fact(n):
  return 1 if (n==1 or n==0) else n*(fact(n-1))

fact(5)

120

In [13]:
def facto(n):
  if n <0:
    return n
  elif n == 0 or n == 1:
    return 1
  else:
    fact = 1
    while (n>1):
      fact = fact * n
      n -= 1
    return fact
    
facto(5)

120

9) Simple Interest:

In [14]:
def cal_SI(p,t,r):
  print("Principal Amount is : {} \n Time is : {} \t Rate is : {} \n\nSimple Interest is : {}".format(p,t,r,(p*t*r)/100) )

cal_SI(8,6,8)

Principal Amount is : 8
 Time is : 6 	 Rate is : 8

Simple Interest is : 3.84

10) Compound Interest:


```
A = P(1 + R/100) t 
Compound Interest = A - P 
Where, 
A is amount 
P is the principal amount 
R is the rate and 
T is the time span
```

In [15]:
def cal_CI(p,t,r):
    
    a = p*( pow( ( 1 + r / 100 ) , t ))
    # or a=p*(1+(r/100))**t 

    ci = a - p 
    print("Principal Amount is : {} \n Time is : {} \t Rate is : {} \n\nCompound Interest is : {}".format(p,t,r,ci) )
cal_CI(1200,2,5.4)

Principal Amount is : 1200
 Time is : 2 	 Rate is : 5.4

Compound Interest is : 133.0992000000001

11) Armstrong Number:



```
Given a number x, determine whether the given number is Armstrong number or not. A positive integer of n digits is called an Armstrong number of order n (order is number of digits) if.

abcd... = pow(a,n) + pow(b,n) + pow(c,n) + pow(d,n) + .... 
Example:

Input : 153
Output : Yes
153 is an Armstrong number.
1*1*1 + 5*5*5 + 3*3*3 = 153

Input : 120
Output : No
120 is not a Armstrong number.
1*1*1 + 2*2*2 + 0*0*0 = 9

Input : 1253
Output : No
1253 is not a Armstrong Number
1*1*1*1 + 2*2*2*2 + 5*5*5*5 + 3*3*3*3 = 723

Input : 1634
Output : Yes
1*1*1*1 + 6*6*6*6 + 3*3*3*3 + 4*4*4*4 = 1634
```

In [16]:
def power(x,y):
  if y == 0:
    return 1
  elif y%2 == 0:
    return power(x,y//2)*power(x,y//2)
  else:
    return x * power(x,y//2)*power(x,y//2)

def order(x):
  n  = 0
  while (x!=0):
    n+=1
    x//=10
  return n

def isArmstrong(x):
  n = order(x)
  temp = x
  sum = 0
  while temp!=0 :
    r = temp%10
    sum = sum + power(r,n)
    temp//=10
  return (sum == x)

isArmstrong(1634)

True

12) Area of a circle 

Area = pi * (r**2)
where r is radius of circle

In [17]:
def area_of_circle(r):
  pi = 3.142
  area = pi * (r**2)
  return area

print("area of circle is %.6f " % area_of_circle(5))

area of circle is 78.550000

13) print all Prime numbers in an Interval

In [20]:
def prime(x, y):
	prime_list = []
	for i in range(x, y):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_list.append(i)
	return prime_list

lst = prime(2,7)

if len(lst) == 0:
  print("No Primes in given range")
else :
   print("Primes in given range are : ",lst)

Primes in given range are :  [2, 3, 5]

14) check whether a number is Prime or not

In [34]:
# Python program to check if
# given number is prime or not

num = 15

# If given number is greater than 1
if num > 1:

	# Iterate from 2 to n / 2
	for i in range(2, int(num/2)+1):

		# If num is divisible by any number between
		# 2 and n / 2, it is not prime
		if (num % i) == 0:
			print(num, "is not a prime number")
			break
	else:
		print(num, "is a prime number")

else:
	print(num, "is not a prime number")

15 is not a prime number

15) n-th Fibonacci number

In [35]:
# Function for nth Fibonacci number

def Fibonacci(n):
	if n<= 0:
		print("Incorrect input")
	# First Fibonacci number is 0
	elif n == 1:
		return 0
	# Second Fibonacci number is 1
	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)

# Driver Program

print(Fibonacci(10))

# This code is contributed by Saket Modi

34

16) How to check if a given number is Fibonacci number?

In [36]:
# python program to check if x is a perfect square
import math

# A utility function that returns true if x is perfect square
def isPerfectSquare(x):
	s = int(math.sqrt(x))
	return s*s == x

# Returns true if n is a Fibonacci Number, else false
def isFibonacci(n):

	# n is Fibonacci if one of 5*n*n + 4 or 5*n*n - 4 or both
	# is a perfect square
	return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)
	
# A utility function to test above functions
for i in range(1,11):
	if (isFibonacci(i) == True):
		print (i,"is a Fibonacci Number")
	else:
		print (i,"is a not Fibonacci Number ")

1 is a Fibonacci Number
2 is a Fibonacci Number
3 is a Fibonacci Number
4 is a not Fibonacci Number
5 is a Fibonacci Number
6 is a not Fibonacci Number
7 is a not Fibonacci Number
8 is a Fibonacci Number
9 is a not Fibonacci Number
10 is a not Fibonacci Number

17) How to check if a given number is Fibonacci number?

In [37]:
# python program to check if x is a perfect square
import math

# A utility function that returns true if x is perfect square
def isPerfectSquare(x):
	s = int(math.sqrt(x))
	return s*s == x

# Returns true if n is a Fibonacci Number, else false
def isFibonacci(n):

	# n is Fibonacci if one of 5*n*n + 4 or 5*n*n - 4 or both
	# is a perfect square
	return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)
	
# A utility function to test above functions
for i in range(1,11):
	if (isFibonacci(i) == True):
		print (i,"is a Fibonacci Number")
	else:
		print (i,"is a not Fibonacci Number ")

1 is a Fibonacci Number
2 is a Fibonacci Number
3 is a Fibonacci Number
4 is a not Fibonacci Number
5 is a Fibonacci Number
6 is a not Fibonacci Number
7 is a not Fibonacci Number
8 is a Fibonacci Number
9 is a not Fibonacci Number
10 is a not Fibonacci Number

18) n\’th multiple of a number in Fibonacci Series

In [38]:
# Python Program to find position of n\'th multiple
# of a number k in Fibonacci Series

def findPosition(k, n):
	f1 = 0
	f2 = 1
	i =2;
	while i!=0:
		f3 = f1 + f2;
		f1 = f2;
		f2 = f3;

		if f2%k == 0:
			return n*i

		i+=1
		
	return


# Multiple no.
n = 5;
# Number of whose multiple we are finding
k = 4;

print("Position of n\'th multiple of k in"
				"Fibonacci Series is", findPosition(k,n));

# Code contributed by Mohit Gupta_OMG

Position of n'th multiple of k inFibonacci Series is 30

19)  print ASCII Value of a character

In [39]:
# Python program to print
# ASCII Value of Character

# In c we can assign different
# characters of which we want ASCII value

c = 'g'
# print the ASCII value of assigned character in c
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'g' is 103

20) Sum of squares of first n natural numbers

In [41]:
n = 4
sum = 0

for i in range(1,n+1):
  sum = sum+(i*i)
print(sum)

30

21) cube sum of first n natural numbers

In [42]:
n = 5
sum = 0

for i in range(1,n+1):
  sum = sum+(i*i*i)
print(sum)

225