<a href="https://colab.research.google.com/github/saikumarreddykorsapati-source/Python_Scripts/blob/main/Top_100_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ascii Table :** [Click here to redirect](https://prepinsta.com/ascii-table/)

1) Positive or Negative number:

Using Ternary Operator

This operator is also known as conditional expression are operators that evaluate something based on a condition being true or false. It simply allows testing a condition in a single line.

Syntax :

```
[on_true] if [expression] else [on_false] 
```

In [ ]:
n = 0
# Use of ternary operator
print("Positive" if n >= 0 else "Negative")

Positive

2) Even or Odd number:

In [ ]:
n = 20
print("Even" if n%2==0 else "Odd")

Even

3) Sum of First N Natural numbers:

In [ ]:
n=5
print(int(n*((n+1)/2)))

15

4) Sum of N natural numbers:

In [ ]:
def recurSum(n):
  if n == 0:
    return n
  else:
    return n + recurSum(n-1)

num = 5
recurSum(num)

15

5) Sum of numbers in a given range:

In [ ]:
def recurSum(n1, n2):
  if n1>n2:
    return 0
  return n1 + recurSum(n1+1, n2)

num1, num2 = 1, 5
recurSum(num1, num2)

15

6) Greatest of two numbers:

In [ ]:
n1, n2 = 50, 60
print(n1 if n1>=n2 else n2)

60

In [ ]:
n1, n2 = 50, 60
print(max(n1,n2))

60

7) Greatest of the Three numbers:

In [ ]:
n1, n2, n3 = 50, 30, 49
print(max(n1,n2,n3))

60

In [ ]:
num1, num2, num3 = 10 , 30 , 20
max = num1 if num1>num2 else num2
max = num3 if num3>max else max
print(max)

30

In [ ]:
num1, num2, num3 = 10 , 30 , 20
max = 0
if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

30

8) Factorial of a number:

In [ ]:
import math as m

print(m.factorial(5))

120

In [ ]:
def fact(n):
  return 1 if (n==1 or n==0) else n*(fact(n-1))

print(fact(5))

120

In [ ]:
def facto(n):
  if n <0:
    return n
  elif n == 0 or n == 1:
    return 1
  else:
    fact = 1
    while (n>1):
      fact = fact * n
      n -= 1
    return fact
    
facto(5)

120

9) Simple Interest:

In [ ]:
def cal_SI(p,t,r):
  print("Principal Amount is : {} \n Time is : {} \t Rate is : {} \n\nSimple Interest is : {}".format(p,t,r,(p*t*r)/100) )

cal_SI(8,6,8)

Principal Amount is : 8
 Time is : 6 	 Rate is : 8

Simple Interest is : 3.84

10) Compound Interest:

![Admin Access Required to provide the detials.PNG]()
```
A = P(1 + R/100) t 
Compound Interest = A - P 
Where, 
A is amount 
P is the principal amount 
R is the rate and 
T is the time span
```

In [ ]:
def cal_CI(p,t,r):
    
    a = p*( pow( ( 1 + r / 100 ) , t ))
    # or a=p*(1+(r/100))**t 

    ci = a - p 
    print("Principal Amount is : {} \n Time is : {} \t Rate is : {} \n\nCompound Interest is : {}".format(p,t,r,ci) )
cal_CI(1200,2,5.4)

Principal Amount is : 1200
 Time is : 2 	 Rate is : 5.4

Compound Interest is : 133.0992000000001

11) Armstrong Number:



```
Given a number x, determine whether the given number is Armstrong number or not. A positive integer of n digits is called an Armstrong number of order n (order is number of digits) if.

abcd... = pow(a,n) + pow(b,n) + pow(c,n) + pow(d,n) + .... 
Example:

Input : 153
Output : Yes
153 is an Armstrong number.
1*1*1 + 5*5*5 + 3*3*3 = 153

Input : 120
Output : No
120 is not a Armstrong number.
1*1*1 + 2*2*2 + 0*0*0 = 9

Input : 1253
Output : No
1253 is not a Armstrong Number
1*1*1*1 + 2*2*2*2 + 5*5*5*5 + 3*3*3*3 = 723

Input : 1634
Output : Yes
1*1*1*1 + 6*6*6*6 + 3*3*3*3 + 4*4*4*4 = 1634
```

In [ ]:
# Python program to check if the number is an Armstrong number or not

# take input from the user
num = int(input("Enter a number: "))

# initialize sum
sum = 0
power = len(str(num))
# find the sum of the cube of each digit
temp = num
while temp > 0:
   digit = temp % 10
   sum += digit ** int(power)
   temp //= 10

# display the result
if num == sum:
   print(num,"is an Armstrong number")
else:
   print(num,"is not an Armstrong number")

#1634

Enter a number: 1634
1634 is an Armstrong number

In [ ]:
def power(x,y):
  if y == 0:
    return 1
  elif y%2 == 0:
    return power(x,y//2)*power(x,y//2)
  else:
    return x * power(x,y//2)*power(x,y//2)

def order(x):
  n  = 0
  while (x!=0):
    n+=1
    x//=10
  return n

def isArmstrong(x):
  n = order(x)
  temp = x
  sum = 0
  while temp!=0 :
    r = temp%10
    sum = sum + power(r,n)
    temp//=10
  return (sum == x)

isArmstrong(663)

False

12) Area of a circle 

Area = pi * (r**2)
where r is radius of circle

In [ ]:
def area_of_circle(r):
  pi = 3.142
  area = pi * (r**2)
  return area

print("area of circle is %.6f " % area_of_circle(5))

area of circle is 78.550000

13) print all Prime numbers in an Interval

In [ ]:
def prime(x, y):
	prime_list = []
	for i in range(x, y):
		if i == 0 or i == 1:
			continue
		else:
			for j in range(2, int(i/2)+1):
				if i % j == 0:
					break
			else:
				prime_list.append(i)
	return prime_list

lst = prime(2,7)

if len(lst) == 0:
  print("No Primes in given range")
else :
   print("Primes in given range are : ",lst)

Primes in given range are :  [2, 3, 5]

14) check whether a number is Prime or not

In [ ]:
# Python program to check if
# given number is prime or not

num = 15

# If given number is greater than 1
if num > 1:

	# Iterate from 2 to n / 2
	for i in range(2, int(num/2)+1):

		# If num is divisible by any number between
		# 2 and n / 2, it is not prime
		if (num % i) == 0:
			print(num, "is not a prime number")
			break
	else:
		print(num, "is a prime number")

else:
	print(num, "is not a prime number")

15 is not a prime number

15) n-th Fibonacci number

In [ ]:
# Function for nth Fibonacci number

def Fibonacci(n):
	if n<= 0:
		print("Incorrect input")
	# First Fibonacci number is 0
	elif n == 1:
		return 0
	# Second Fibonacci number is 1
	elif n == 2:
		return 1
	else:
		return Fibonacci(n-1)+Fibonacci(n-2)

# Driver Program

print(Fibonacci(10))

# This code is contributed by Saket Modi

34

16) How to check if a given number is Fibonacci number?

In [ ]:
def is_fib_number(num):
    a = 0
    b = 1
    while b<num:
        c = a+b
        a = b
        b = c
    if b==num or a==num:
        return True
    if b > num:
        return False

num = 13
if is_fib_number(num):
    print(f"{num} is a fibonacci number.")
else:
    print(f"{num} is not a fibonacci number.")

13 is a fibonacci number.

In [ ]:
# python program to check if x is a perfect square
import math

# A utility function that returns true if x is perfect square
def isPerfectSquare(x):
	s = int(math.sqrt(x))
	return s*s == x

# Returns true if n is a Fibonacci Number, else false
def isFibonacci(n):

	# n is Fibonacci if one of 5*n*n + 4 or 5*n*n - 4 or both
	# is a perfect square
	return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)
	
# A utility function to test above functions
for i in range(1,11):
	if (isFibonacci(i) == True):
		print (i,"is a Fibonacci Number")
	else:
		print (i,"is a not Fibonacci Number ")

1 is a Fibonacci Number
2 is a Fibonacci Number
3 is a Fibonacci Number
4 is a not Fibonacci Number
5 is a Fibonacci Number
6 is a not Fibonacci Number
7 is a not Fibonacci Number
8 is a Fibonacci Number
9 is a not Fibonacci Number
10 is a not Fibonacci Number

17) How to check if a given number is Fibonacci number?

In [ ]:
# python program to check if x is a perfect square
import math

# A utility function that returns true if x is perfect square
def isPerfectSquare(x):
	s = int(math.sqrt(x))
	return s*s == x

# Returns true if n is a Fibonacci Number, else false
def isFibonacci(n):

	# n is Fibonacci if one of 5*n*n + 4 or 5*n*n - 4 or both
	# is a perfect square
	return isPerfectSquare(5*n*n + 4) or isPerfectSquare(5*n*n - 4)
	
# A utility function to test above functions
for i in range(1,11):
	if (isFibonacci(i) == True):
		print (i,"is a Fibonacci Number")
	else:
		print (i,"is a not Fibonacci Number ")

1 is a Fibonacci Number
2 is a Fibonacci Number
3 is a Fibonacci Number
4 is a not Fibonacci Number
5 is a Fibonacci Number
6 is a not Fibonacci Number
7 is a not Fibonacci Number
8 is a Fibonacci Number
9 is a not Fibonacci Number
10 is a not Fibonacci Number

18) n\’th multiple of a number in Fibonacci Series

In [ ]:
# Python Program to find position of n\'th multiple
# of a number k in Fibonacci Series

def findPosition(k, n):
	f1 = 0
	f2 = 1
	i =2;
	while i!=0:
		f3 = f1 + f2;
		f1 = f2;
		f2 = f3;

		if f2%k == 0:
			return n*i

		i+=1
		
	return


# Multiple no.
n = 5;
# Number of whose multiple we are finding
k = 4;

print("Position of n\'th multiple of k in"
				"Fibonacci Series is", findPosition(k,n));

# Code contributed by Mohit Gupta_OMG

Position of n'th multiple of k inFibonacci Series is 30

19)  print ASCII Value of a character

In [ ]:
# Python program to print
# ASCII Value of Character

# In c we can assign different
# characters of which we want ASCII value

c = 'g'
# print the ASCII value of assigned character in c
print("The ASCII value of '" + c + "' is", ord(c))

The ASCII value of 'g' is 103

20) Sum of squares of first n natural numbers

In [ ]:
n = 4
sum = 0

for i in range(1,n+1):
  sum = sum+(i*i)
print(sum)

30

21) cube sum of first n natural numbers

In [ ]:
n = 5
sum = 0

for i in range(1,n+1):
  sum = sum+(i*i*i)
print(sum)

225



---

**Array Programs**



---

22) find sum of array and largest element array

In [ ]:
arr = [12, 3, 4, 15]
sum = 0
for i in arr:
  sum+=i
print(sum)
print(max(arr))

34
15

[]

In [ ]:
# Python3 program to find maximum
# in arr[] of size n

# python function to find maximum
# in arr[] of size n
def largest(arr,n):

	# Initialize maximum element
	max = arr[0]

	# Traverse array elements from second
	# and compare every element with
	# current max
	for i in range(1, n):
		if arr[i] > max:
			max = arr[i]
	return max

# Driver Code
arr = [10, 324, 45, 90, 9808]
n = len(arr)
Ans = largest(arr,n)
print ("Largest in given array is",Ans)

# This code is contributed by Smitha Dinesh Semwal

23) array rotation

In [ ]:
def rotateArray(arr, n, d):
  temp = []
  for i in range(0,d):
    temp.append(arr[i])
  del arr[0:d]
  
  return temp, arr, arr+temp

arr = [1, 2, 3, 4, 5, 6, 7]
print("Array after left rotation is: ", end=' ')
print(rotateArray(arr, len(arr), 3))

Array after left rotation is:  ([1, 2, 3], [4, 5, 6, 7], [4, 5, 6, 7, 1, 2, 3])

24) Reversal algorithm for array rotation

In [ ]:
def rotateCompleteArray(arr, n):
  temp = []
  for i in range(n-1,-1,-1):
    temp.append(arr[i])
  return temp
  
  return temp, arr, arr+temp

arr = [1, 2, 3, 4, 5, 6, 7,9]
print("Array after complete rotation is: ", end=' ')
print(rotateCompleteArray(arr, len(arr)))

Array after complete rotation is:  [9, 7, 6, 5, 4, 3, 2, 1]

25) Find remainder of array multiplication divided by n

In [ ]:
def find_remainder(arr, n):
  mul=1
  for i in arr:
    mul *= i
  return mul%n


arr = [100, 10, 5, 25, 35, 14]
n = 11
find_remainder(arr, n)

9

26) check if given array is Monotonic

In [ ]:
def isMonotonic(A):
  for i in range(len(A)-1):
    return (all(A[i] <= A[i+1] for i in range(len(A)-1)) or all(A[i] >= A[i+1] for i in range(len(A)-1)))
# Driver program
A = [6, 5, 4, 4 , 3]
  
# Print required result
print(isMonotonic(A))

True



---

List Problems



---

27) interchange first and last elements in a list

In [ ]:
def swapList(newList):
  first_and_last_element = []
  middle_elements = []
  all = []

  for i in range(0,len(newList)):
    if i in [0,len(newList)-1]:
      first_and_last_element.append(newList[i])
    else:
      middle_elements.append(newList[i])
  all.append(first_and_last_element[-1])
  all.extend(middle_elements)
  all.append(first_and_last_element[0])
  return all

newList = [12, 35, 9, 56, 24] 
print(swapList(newList))

[24, 35, 9, 56, 12]

In [ ]:
def swapList(list_val):
  a, *b, c = list_val
  list_val = [c, *b, a]
  return list_val

newList = [12, 35, 9, 56, 24] 
print(swapList(newList))

[24, 35, 9, 56, 12]

28) swap two elements in a list

In [ ]:
# Python3 program to swap elements
# at given positions
# Swap function

def swapPositions(list_1, pos1, pos2):
	list_1[pos1], list_1[pos2] = list_1[pos2], list_1[pos1]
	return list_1

# Driver function
List = [12, 35, 9, 56, 24] 
print(swapPositions(List, 0, len(List)-1) )

[24, 35, 9, 56, 12]

29) Check if element exists in list in Python

In [3]:
def el_exists(list_1, n):
  if n in list_1:
    return True
  else:
    return False
List = [12, 35, 9, 56, 24] 
print(el_exists(List, 24) )

True

30) Different ways to clear a list in Python

In [11]:
GEEK = [6, 0, 4, 1]
print('GEEK before clear:', GEEK) 
GEEK.clear()
print('GEEK after clear:', GEEK) 
# deleting list using reinitialization
GEEK = []
print('GEEK after reinitialization:', GEEK) 
# deleting list using *= 0
GEEK *= 0
print('GEEK after using *= 0', GEEK) 
# deleting list using del
del GEEK[:]
print('GEEK after  using del', GEEK)

GEEK before clear: [6, 0, 4, 1]
GEEK after clear: []
GEEK after reinitialization: []
GEEK after using *= 0 []
GEEK after  using del []

31) Reversing a List

In [41]:
list_1 = [1,2,3,4,5]

print([ele for ele in reversed(list_1)])
print(*list_1 , sep="\n")

print(list_1[::-1])
list_1.reverse()
print(list_1)

[5, 4, 3, 2, 1]
1
2
3
4
5
[5, 4, 3, 2, 1]
[5, 4, 3, 2, 1]

32) find sum of elements in list

In [5]:
#recursion
def recu(list_2, size):
  if size == 0:
    return 0
  else :
    return list_2[size-1]+recu(list_2, size-1)


list_1 = [1,2,3,4,5]
size = len(list_1)
print(recu(list_1, size))

#using sum inbuilt function
print(sum(list_1))

# another method
ele = 0
sum_var = 0
while ele < len(list_1):
  sum_var += list_1[ele]
  ele+=1
print(sum_var)

15
15
15

33) Multiply all numbers in the list

In [8]:
list_1 = [1,2,3,4,5]
m = 1
for i in list_1:
  m*=i
print(m)

120

34) find smallest and largest number in a list

In [17]:
list_1 = [1,2,3,4,5]
print("in list {} the element {} is the smallest number".format(list_1,min(list_1)))
# using sort
list_1.sort()
print(list_1[0])


print("Largest Element",max(list_1))
print(list_1[-1])

in list [1, 2, 3, 4, 5] the element 1 is the smallest number
1
Largest Element 5
5

35) find second largest number in a list

In [20]:
list_1 = [1,2,3,4,5]

list_1.sort()
print(list_1[-2])

#or

list_1.remove(max(list_1))
print(max(list_1))

4
4

36) find N largest elements from a list

[differnces between sort and sorted](https://www.programiz.com/python-programming/methods/built-in/sorted)

In [35]:
list_1 = [1,2,3,4,5,67,8,9]

n =2 

list_1.sort(reverse=True)
print(list_1[:2])

[67, 9]

37)