<a href="https://colab.research.google.com/github/saikumarreddykorsapati-source/Python_Scripts/blob/main/Top_100_Codes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ascii Table :** [Click here to redirect](https://prepinsta.com/ascii-table/)

1) Positive or Negative number:

In [12]:
n = 0
print("Positive" if n >= 0 else "Negative")

Positive

2) Even or Odd number:

In [4]:
n = 20
print("Even" if n%2==0 else "Odd")

Even

3) Sum of First N Natural numbers:

In [6]:
n=5
print(int(n*(n+1)/2))

15

4) Sum of N natural numbers:

In [8]:
def recurSum(n):
  if n == 0:
    return n
  else:
    return n + recurSum(n-1)

num = 6
recurSum(num)

21

5) Sum of numbers in a given range:

In [9]:
def recurSum(sum, n1, n2):
  if n1>n2:
    return sum
  return n1 + recurSum(sum, n1+1, n2)

num1, num2, sum = 3, 6, 0
recurSum(sum, num1, num2)

18

6) Greatest of two numbers:

In [15]:
n1, n2 = 50, 60
print(n1 if n1>n2 else n2)

60

In [17]:
n1, n2 = 50, 60
print(max(n1,n2))

60

7) Greatest of the Three numbers:

In [19]:
n1, n2, n3 = 50, 30, 49
print(max(n1,n2,n3))

50

In [20]:
num1, num2, num3 = 10 , 30 , 20
max = num1 if num1>num2 else num2
max = num3 if num3>max else max
print(max)

30

In [21]:
num1, num2, num3 = 10 , 30 , 20
max = 0
if num1 >= num2 and num1 >= num3:
  print(num1)
elif num2 >= num1 and num2 >= num3:
  print(num2)
else:
  print(num3)

30